* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0px;
  flex-wrap: wrap;
}

header {
  background-color: rgb(0, 0, 0);
  color: rgb(14, 98, 177);
  text-align: 20px;
  padding: 20px;
}

nav {
  /* display: flex; */
  background-color: rgb(14, 98, 177);
  border: 3px solid white;
}

nav li a {
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#page-header {
  color: white;
  border: 5px solid white;
}

aside {
  flex: 20%;
  flex-wrap: wrap;
  background-color: black;
  padding: 10px;
  padding-top: 20px;
  color: white;
  border: 5px solid rgb(14, 98, 177);
  border-radius: 15px;
}

aside p {
  color: black;
}

section {
  flex: 70%;
  background-color: black;
  padding: 20px;
  border: 5px solid rgb(14, 98, 177);
  border-radius: 15px;
}

#items {
  width: 100%;
}
.placeholder {
  background-color: darkgray;
  width: 100%;
  padding: 20px;
}

#comment-main {
  height: 370px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: rgb(14, 98, 177);
  border: 3px solid white;
}

/* .main{
    height: 200px;
} */

.sub {
  height: 75px;
}

@media screen and (max-width: 0px) {
  .row,
  nav,
  aside,
  body {
    flex-direction: column;
  }
}

/* .items{
    display: flex;
} */

#logo {
  height: 90px;
  vertical-align: middle;
  margin-top: -20px;
  margin-bottom: -20px;
}

.image {
  width: 100%;
  max-width: 400px;
  size: 0px;
  padding: 10px;
  height: auto;
}

.rating {
  padding-top: 10px;
}
.stars1,
.stars2,
.stars3,
.stars4,
.stars5 {
  width: 30px;
}

.text {
  display: inline;
  text-align: left;
  flex: 10%;
  overflow: visible;
  padding: 5px;
}

.frames {
  background-color: #ffffff;
  border: 10px solid rgb(14, 98, 177);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.manufacs {
  padding-top: 5px;
  font-size: 45px;
  font-weight: bold;
}

.models {
  font-size: 25px;
  font-style: italic;
  color: red;
}

.enginesizes {
  padding-top: 10px;
  font-size: 18px;
}

.descriptions {
  padding-top: 10px;
  font-size: 15px;
}

.link {
  padding-top: 10px;
  font-size: 12px;
}

p {
  margin: 0px;
  padding: 0px;
}

#header {
  font-size: 30px;
}

.time {
  font-style: italic;
  font-size: 12px;
  padding-left: 5px;
}

.name {
  padding-top: 5px;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5px;
}

#name-input {
  width: 100%;
  border: 12px solid rgb(14, 98, 177);
  border-radius: 20px;
  padding: 5px;
}

.comment-text {
  margin: 0px;
  font-size: 15px;
  padding-left: 5px;
}

.comment {
  padding: 5px;
  background-color: white;
  border: 12px solid rgb(14, 98, 177);
  border-radius: 20px;
  width: 100%;
}

#comment {
  padding: 5px;
  background-color: white;
  border: 12px solid rgb(14, 98, 177);
  border-radius: 20px;
  width: 100%;
}

#fieldset {
  border: 12px solid rgb(14, 98, 177);
  border-radius: 20px;
  resize: none;
}

#comment-header {
  padding: 10px;
  font-weight: bold;
  border: 8px solid rgb(14, 98, 177);
  border-radius: 20px;
}

#title {
  text-align: center;
  font-size: 35px;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}

#page-title {
  margin: 0px;
  text-align: center;
  font-size: 35px;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
  padding-bottom: 15px;
}

#comment-button {
  border: 8px solid rgb(14, 98, 177);
  border-radius: 15px;
  padding: 5px;
}

#comment-form #fieldset {
  align-content: center;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

nav {
  width: 100%;
  /* background: #DB3A34; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  text-align: center;
}

nav a {
  display: flex;
  /* Top/ Right/ Bottom/ Left */
  color: black;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  width: 88px;
}

nav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(14, 98, 177);
  transition: 0.2s;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

nav ul li {
  position: relative;
}

nav li:hover .dropdown-1 li {
  top: 0;
  display: inline;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

nav ul li ul {
  background-color: transparent;
}

nav ul li ul a:hover,
.nav-active {
  background-color: rgb(0, 145, 255);
  color: white;
}

.dropdown-1 {
  position: absolute;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.dropdown-1 li {
  display: none;
  position: relative;
}

.dropdown-1 ul li:hover {
  display: block;
}