* {
  box-sizing: border-box;
  font-family: sans-serif;
  /* I wish comic sans was allowed :( */
}

body {
  margin: 0px;
  flex-wrap: wrap;
}

header {
  background-color: rgb(0, 0, 0);
  color: rgb(14, 98, 177);
  padding: 20px;
}

nav {
  /* display: flex; */
  background-color: rgb(14, 98, 177);
  border: 3px solid white;
}

nav li a {
  color: white;
}



#contact-header{
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
}

.inputs{
  width: 100%;
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
  padding: 5px;
}

#form{
width: auto;
height: auto;
margin: 0 auto;
max-width: 500px;
position: relative;
background-color: rgb(14, 98, 177);
border: 4px solid white;
border-radius: 25px;
padding: 20px;
}

#mainSection {
  flex: 70%;
  background-color: black;
  padding: 20px;
  border: 5px solid rgb(14, 98, 177);
  border-radius: 15px;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 17px;
  font-weight: bolder;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: rgb(14, 98, 177);
  border: 3px solid white;
}


.sub {
  height: 75px;
}

@media screen and (max-width: 700px) {
  .row,
  nav,
  aside,
  body {
    flex-direction: column;
  }
}

#logo {
  height: 90px;
  vertical-align: middle;
  margin-top: -20px;
  margin-bottom: -20px;
}

#title {
  text-align: center;
  font-size: 35px;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}

#thankYou{
  padding: 50px;
}

#mainSetion{
  color: white;

}

nav {
  width: 100%;
  /* background: #DB3A34; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  text-align: center;
}

nav a {
  display: flex;
  /* Top/ Right/ Bottom/ Left */
  color: black;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  width: 88px;
}

nav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(14, 98, 177);
  transition: 0.2s;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

nav ul li {
  position: relative;
}

nav li:hover .dropdown-1 li {
  top: 0;
  display: inline;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

nav ul li ul {
  background-color: transparent;
}

nav ul li ul a:hover,
.nav-active {
  background-color: rgb(0, 145, 255);
  color: white;
}

.dropdown-1 {
  position: absolute;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.dropdown-1 li {
  display: none;
  position: relative;
}

.dropdown-1 ul li:hover {
  display: block;
}