@font-face { font-family: CustomFont; src: url('/assets/couture-bld.otf');} /* Font from https://www.dafont.com/couture.font */

#contentPane {
    width: 80%;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    transition: .6s ease-in-out;
    padding-top: 150px;
    /* Comment and un comment depending if you want to see and edit content pane size */
    /* border-style: solid; */
}

body #scrollDown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 42%;
    box-shadow: 3;
}

#scrollDown {
    width: 50px;
}

#welcomeDiv {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

#welcome h1 {
    font-size: 100px;
    color: black;
}
