@font-face { font-family: CustomFont; src: url('/assets/couture-bld.otf');} /* Font from https://www.dafont.com/couture.font */

#contentPane {
    width: 80%;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    transition: .6s ease-in-out;
    padding-top: 20%;
    /* Comment and un comment depending if you want to see and edit content pane size */
    border-style: solid;
}

#welcome {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    height: 1200px;
    text-align: center;
}

#welcome h1 {
    font-size: 100px;
    color: black;
}

#another {
    background-color: rgba(255, 0, 0, 1);
    height: 300px;
    border-radius: 10px;
    text-align: center;
}